
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Iniciar Sesión</title>

    <link href="~/source/css/style.css" rel="stylesheet" />

    <script src="~/recursos/js/jquery-3.5.1.min.js"></script>
</head>
<body>
    <section class="p-0 d-flex align-items-center">
        <div class="container-fluid">
            <div class="row">
                <!-- left -->
                <div class="col-12 col-md-6 col-lg-5 d-md-flex align-items-center bg-grad h-sm-100-vh">
                    <div class="w-100 p-3 p-lg-5 all-text-white">
                        <div class="justify-content-center align-self-center">
                            <!-- SVG Logo Start -->
                            <img src="~/recursos/imagen/logolineal.png" width="350">
                            <!-- SVG Logo End -->
                        </div>
                        <h3 class="font-weight-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Te conectamos con la comunidad más grande del mundo.</font></font></h3>
                        <ul class="list-group list-group-borderless mt-4">
                            <li class="list-group-item text-white"><i class="fa fa-check"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Conéctese con su comunidad a través de Wizixo</font></font></li>
                            <li class="list-group-item text-white"><i class="fa fa-check"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Descubre la mejor experiencia con compañerismo</font></font></li>
                            <li class="list-group-item text-white"><i class="fa fa-check"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Crea tu lista de deseos y disfruta de la mejor experiencia</font></font></li>
                        </ul>
                    </div>
                </div>
                <!-- Right -->
                <div class="col-12 col-md-6 col-xl-7 mx-auto my-5">
                    <div class="row h-100">
                        <div class="col-12 col-md-10 col-lg-5 text-left mx-auto d-flex align-items-center">
                            <div class="w-100">
                                <h2 class="">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">¡Iniciar sesión!</font></font></h2>
                                <h5 class="font-weight-light">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">¡Bienvenido(a)! </font>
                                <font style="vertical-align: inherit;">Inicia sesión con tu cuenta.</font></font></h5>
                                
                                <div class="form mt-4 ">
                                    <div>
                                        <p class="text-left mb-2"><font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Dirección de correo electrónico</font></font></p>
                                        <span class="form-group">
                                        <input type="email" class="form-control" placeholder="Email">
                                        </span>
                                    </div>
                                    <div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="text-left mb-2"><font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Contraseña</font></font></p>                                            
                                        </div>
                                        <span class="form-group">
                                        <input type="password" class="form-control" placeholder="*********">
                                        </span>
                                    </div>
                                    <div class="row align-items-center no-gutters m-0">
                                        <div class="col-6 col-md-8"><span class="text-muted">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">¿No tienes una cuenta? </font></font><a href="sign-up.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Regístrate</font></font></a></span></div>
                                        <div class="col-6 col-md-4 text-right">
                                        <button class="btn btn-grad text-white  ">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Ingresar</strong></font></font>
                                        </button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/source/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/source/vendor/jquery/jquery.min.js"></script>
    <script src="~/source/js/functions.js"></script>
</body>
</html>
