
@{
    ViewBag.Title = "Index";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">TAEX</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="#">
                                    <img src="~/recursos/image/home.png" width="20" height="20" style="margin-right:10px;">
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Estudiante</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Lista</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="#" class="btn btn-sm btn-neutral">Nuevo Registro</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Lista de Personal de OBUN</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table id="DataTablesLanguage" class="table align-items-center table-flush">
                        <thead class="thead-light" style="margin-top:10px;">
                            <tr>
                                <th scope="col" class="sort" data-sort="name">Project</th>
                                <th scope="col" class="sort" data-sort="budget">Budget</th>
                                <th scope="col" class="sort" data-sort="status">Status</th>
                                <th scope="col">Users</th>
                                <th scope="col" class="sort" data-sort="completion">Completion</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>

                        <tbody class="list">
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <span class="name mb-0 text-sm">Argon Design System</span>
                                    </div>
                                </th>
                                <td class="budget">
                                    $2500 USD
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">60%</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">60%</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">60%</span>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <a href="#" class="btn btn-sm btn-neutral">Ver</a>
                                    <a href="~/Usuario/Agregar" class="btn btn-sm btn-neutral">Modificar</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <span class="name mb-0 text-sm">Argon Design System</span>
                                    </div>
                                </th>
                                <td class="budget">
                                    $2500 USD
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">60%</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">60%</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">60%</span>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <a href="#" class="btn btn-sm btn-neutral">Ver</a>
                                    <a href="~/Usuario/Agregar" class="btn btn-sm btn-neutral">Modificar</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <span class="name mb-0 text-sm">Argon Design System</span>
                                    </div>
                                </th>
                                <td class="budget">
                                    $2500 USD
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">60%</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">60%</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">60%</span>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <a href="#" class="btn btn-sm btn-neutral">Ver</a>
                                    <a href="~/Usuario/Agregar" class="btn btn-sm btn-neutral">Modificar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br /><br />
                </div>
            </div>
        </div>

    </div>

    <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6">
                <div class="copyright text-center  text-lg-left  text-muted">
                    &copy; 2020 <a href="#" class="font-weight-bold ml-1" target="_blank">Taex - OBUN</a>
                </div>
            </div>
        </div>
    </footer>
</div>

