
@{
    ViewBag.Title = "Conocenos";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

    
    <div>
        <div class="innerpage-banner center bg-overlay-dark-5 py-7" style="background:url('@Url.Content("~/source/imagenes/nosotros.jpg")') no-repeat; background-size:cover; background-position: center center;">
            <div class="container">
                <div class="row all-text-white">
                    <div class="col-md-12 align-self-center">
                        <h1 class="innerpage-title"><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Conócenos</font></font></h1>
                        <h6 class="subtitle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OBUN - Oficina de Bienestar Universitario</font></font></h6>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">
                                    <a href="~/Web/Index">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z" />
                                            <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                        </svg>
                                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Inicio </font></font>
                                    </a>
                                </li>
                                • Conocenos
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <section>
            <div class="container h-100">
                <div class="row">
                    <div class="col-md-12 col-lg-6 align-self-center ">
                        <div class="title text-left">
                            <span class="pre-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">¡Presentación!</font></font></span>
                            <h2>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Somos la
                                    </font>
                                </font><span class="text-primary">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Oficina de Bienestar Universitario</font>
                                    </font>
                                </span>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        de la Universidad Privada de Tacna,
                                    </font><font style="vertical-align: inherit;">
                                    </font>
                                </font>
                            </h2>
                            <p class="mb-0">
                                <font style="vertical-align: inherit;">
                                    Que ofrece a sus docentes, estudiantes y graduados, así como al personal administrativo y de servicio,
                                    programas de bienestar y servicios de salud integral, de promoción cultural y artística, de recreación
                                    y deportes, servicio social y orientación psicopedagígica y otros programas de ayuda orientados a la formación
                                    integral y el desarrollo humano.
                                </font>
                                <br />
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-6 mx-md-auto align-self-center ">
                        <img class="rounded" src="~/source/imagenes/obunnosotros.jpg" alt="">
                        <div class="position-absolute left-0 bottom-0 ml-4 ml-md-n2 mb-3">
                            <a class="btn btn-grad" data-fancybox="" href="~/source/video/UPT.mp4">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.5 10a.5.5 0 0 0 .832.374l4.5-4a.5.5 0 0 0 0-.748l-4.5-4A.5.5 0 0 0 5.5 4v8z" />
                                </svg>
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Reproduce el video </font></font>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- row end -->

                <div class="row mt-4">
                    <div class="col-md-12  title text-left" style="padding-left:10px;">
                        <span class="pre-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OBUN está dividido en 7 Unidades:</font></font></span>
                    </div>
                        
                        <!-- unidad 1 -->
                        <div class="col-md-4">
                            <div class="feature-box h-100 icon-primary">
                                <div class="feature-box-icon" style="font-size:40px;">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmarks-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12l-5-3-5 3V4z" />
                                        <path d="M14 14l-1-.6V2a1 1 0 0 0-1-1H4.268A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v12z" />
                                    </svg>
                                </div>
                                <h3 class="feature-box-title">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Atención Primaria de Salud</font>
                                    </font>
                                </h3>
                                <p class="feature-box-desc">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            • Consulta de Medicina General <br />
                                            • Atención de Tópico <br />
                                            • Evaluación Integral de Ingresantes<br />
                                            • Campaña de Inmunización<br />
                                            • Campaña Médica para Docentes y Administrativos <br />
                                            • Salud Sexual y Reproductiva <br />
                                            • Evaluación Especial para grupos Deportivos y Delegaciones Académicas
                                        </font>
                                    </font>
                                </p>

                            </div>
                        </div>
                        <!-- unidad 2 -->
                        <div class="col-md-4">
                            <div class="feature-box h-100 icon-primary">
                                <div class="feature-box-icon" style="font-size:40px;">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmarks-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12l-5-3-5 3V4z" />
                                        <path d="M14 14l-1-.6V2a1 1 0 0 0-1-1H4.268A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v12z" />
                                    </svg>
                                </div>
                                <h3 class="feature-box-title">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Tutoría y Consejería</font>
                                    </font>
                                </h3>
                                <p class="feature-box-desc">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            • Evaluación Integral de Ingresantes <br />
                                            • Tutoría Universitaria <br />
                                            • Consejería Psicológica<br />
                                            • Salud Sexual y Reproductiva <br />
                                        </font>
                                    </font>
                                </p>
                            </div>
                        </div>
                        <!-- unidad 3 -->
                        <div class="col-md-4">
                            <div class="feature-box h-100 icon-primary">
                                <div class="feature-box-icon" style="font-size:40px;">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmarks-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12l-5-3-5 3V4z" />
                                        <path d="M14 14l-1-.6V2a1 1 0 0 0-1-1H4.268A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v12z" />
                                    </svg>
                                </div>
                                <h3 class="feature-box-title">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Asistencia Social</font>
                                    </font>
                                </h3>
                                <p class="feature-box-desc">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            • Evaluación Integral de Ingresantes <br />
                                            • Becas y subvenciones <br />
                                            • Seguro Estudiantil contra Accidentes<br />
                                            • Prestaciones de Seguridad Social <br />
                                            • Asistencia y Bienestar Social <br />
                                            • Alimentación Saludable <br />
                                        </font>
                                    </font>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- row end -->

                    <div class="row mt-4">
                        <!-- unidad 4 -->
                        <div class="col-md-4">
                            <div class="feature-box h-100 icon-primary">
                                <div class="feature-box-icon" style="font-size:40px;">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmarks-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12l-5-3-5 3V4z" />
                                        <path d="M14 14l-1-.6V2a1 1 0 0 0-1-1H4.268A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v12z" />
                                    </svg>
                                </div>
                                <h3 class="feature-box-title">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Recreación y Deporte</font>
                                    </font>
                                </h3>
                                <p class="feature-box-desc">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            • Fomento de la Actividad Fisica y Deportes de Altas Competencias <br />
                                            • Participacion en Torneos Univ. y de Ligas Oficiales <br />
                                            • Juegos Inter Cachimbos<br />
                                            • Juegos Docentes y Administrativos <br />
                                            • Juegos Deportivos Inter Facultades<br />
                                        </font>
                                    </font>
                                </p>
                            </div>
                        </div>
                        <!-- unidad 5 -->
                        <div class="col-md-4">
                            <div class="feature-box h-100 icon-primary">
                                <div class="feature-box-icon" style="font-size:40px;">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmarks-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12l-5-3-5 3V4z" />
                                        <path d="M14 14l-1-.6V2a1 1 0 0 0-1-1H4.268A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v12z" />
                                    </svg>
                                </div>
                                <h3 class="feature-box-title">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Promoción Cultural
                                        </font>
                                    </font>
                                </h3>
                                <p class="feature-box-desc">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            • Fomento de Expresiones Culturales <br />
                                            • Participacion en Eventos y Festivales <br />
                                            • Visitas Culturales y de Integracion<br />
                                            • Juegos Florales Universitarios<br />
                                        </font>
                                    </font>
                                </p>
                            </div>
                        </div>
                        <!-- unidad 6 -->
                        <div class="col-md-4">
                            <div class="feature-box h-100 icon-primary">
                                <div class="feature-box-icon" style="font-size:40px;">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmarks-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12l-5-3-5 3V4z" />
                                        <path d="M14 14l-1-.6V2a1 1 0 0 0-1-1H4.268A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v12z" />
                                    </svg>
                                </div>
                                <h3 class="feature-box-title">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Actividades Extracurriculares</font>
                                    </font>
                                </h3>
                                <p class="feature-box-desc">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            • Talleres de Desarrollo Personal <br />
                                            • Talleres Artisticos y Culturales <br />
                                            • Talleres Deportivos<br />
                                        </font>
                                    </font>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4 center">
                        <!-- unidad 7 -->
                        <div class="col-md-4">
                            <div class="feature-box h-100 icon-primary">
                                <div class="feature-box-icon" style="font-size:40px;">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmarks-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12l-5-3-5 3V4z" />
                                        <path d="M14 14l-1-.6V2a1 1 0 0 0-1-1H4.268A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v12z" />
                                    </svg>
                                </div>
                                <h3 class="feature-box-title">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Pastoral Universitaria</font>
                                    </font>
                                </h3>
                                <p class="feature-box-desc">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            • Planificar y Ejecutar Acciones que promuevan la Participación en las Actividades de Pastoral Universitaria <br />
                                            • Planificar, Coordinar y Celebrar Actos Litúrgicos, Preparación Sacramental, Jornadas Espirituales y otros que requiera la Comunidad Universitaria. <br />
                                            • Participar de interconsultas que se requiera con la Unidad de Asistencia Social, Tutoría y Consejería Universitaria.<br />
                                        </font>
                                    </font>
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
        </section>
    </div>

