
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<section class="p-0 position-relative height-900-responsive ie-height-800 bg-grad pattern-overlay-1 overflow-hidden">

    <div class="container d-flex h-100">
        <div class="row align-self-center w-100">
            <!-- banner Content -->
            <div class="col-md-6 mt-md-0 all-text-white">
                <h3 class="display-6 display-xl-4 font-weight-normal"><strong>INSCRÍBETE A NUESTROS TALLERES - TAEX</strong></h3>
                <p class="h3 mb-4 font-weight-normal d-none d-sm-block">Demuestra tu talento o aprende algo nuevo. Participa en los talleres extracurriculares.</p>
            <br /> <br />
            </div>
            <!-- banner image -->
            <div class="col-md-6 d-none d-md-block p-0 position-absolute top-0 right-0 align-top align-text-top">
                <figure class="w-100 ie-height-750">
                    <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1290 1024" style="enable-background:new 0 0 1290 1024;" xml:space="preserve">
                    <g id="XMLID_81_">
                    <defs>
                    <path id="XMLID_3_" d="M1290,0v1024c0,0-229.8-152.2-550-52.9C467.3,1055.7-22.5,927.6,47.8,540C120.4,139.6,17,0,17,0H1290z"></path>
						</defs>
                    <clipPath id="XMLID_83_">
                    <use xlink:href="#XMLID_3_" style="overflow:visible;"></use>
						</clipPath>
                    <g style="clip-path:url(#XMLID_83_);">
							<!-- Set your 1290px X 1024px image below -->
                    <image style="overflow:visible;" width="1299" height="965" id="XMLID_82_" xlink:href="~/source/imagenes/fotoinicio.jpg" transform="matrix(0.9999 0 0 0.9999 8.063897e-002 6.401104e-002)">
							</image>
						</g>
					</g>
				</svg>
                </figure>
            </div>
        </div>
    </div>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave"><defs></defs><path id="wave-one" d="" /></svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave"><defs></defs><path id="wave-two" d="" /></svg>
</section>

<section class="service pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="title text-center">
                    <span class="pre-title">Bienvenido a nuestro Sitio Web</span>
                    <h2>OFICINA DE BIENESTAR UNIVERSITARIO - TAEX</h2>
                    <p class="mb-0">
                        Somos profesionales, con amplia formación y experticia académica, preparados para potencializar o canalizar oportunamente las diversas capacidades cognitivas, efectivas y conductuales de todos los integrantes que comunidad universitaria.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="position-relative bg-light">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <!-- left -->
            <div class="col-md-6">
                <figure class="w-100 ie-height-600">
                    <svg version="1.1" id="about-image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 678 595" style="enable-background:new 0 0 678 595;" xml:space="preserve">
                    <defs>
                    <linearGradient id="BgGradient">
                    <stop class="fill-grad-start" offset="0%" />
                    <stop class="fill-grad-end" offset="100%" />

					</linearGradient>
					</defs>
                    <path id="about-image-bg" fill="url(#BgGradient)" d="M652.2,493.6c-51.9,58.8-395.9,51.9-395.9,51.9S7.4,581.8,50.6,396.8
						C82.3,261.5,2.2,56.3,97.3,20c49-18.7,351.7-49,487.8,70.9C713.1,203.4,677.3,465.1,652.2,493.6z" />

                    <g id="XMLID_120_">
                    <defs>
                    <path id="XMLID_7_" d="M635.5,506.9c-51.9,58.8-395.9,51.9-395.9,51.9S-9.3,595,34,410C65.6,274.7-14.4,69.5,80.6,33.2
								c49-18.7,351.7-49,487.8,70.9C696.4,216.7,660.6,478.4,635.5,506.9z" />
								</defs>
                    <clipPath id="XMLID_155_">
                    <use xlink:href="#XMLID_7_" style="overflow:visible;" />
								</clipPath>
                    <g style="clip-path:url(#XMLID_155_);">

                    <image style="overflow:visible;" width="700" height="700" id="XMLID_121_" xlink:href="~/source/imagenes/obun.jpg" transform="matrix(0.9999 0 0 0.9999 1 -81)">
									</image>
								</g>
							</g>
                    <circle fill="none" stroke="url(#BgGradient)" stroke-width="8" stroke-miterlimit="10" cx="60" cy="539" r="40" />

                    <path id="XMLID_149_" fill="url(#BgGradient)" d="M52.6,104.3L25.5,46.5c-2-4.2-0.1-9.4,4.1-11.3l0,0c4.2-2,9.4-0.1,11.3,4.1L68,97c2,4.2,0.1,9.4-4.1,11.3
								l0,0C59.7,110.4,54.6,108.5,52.6,104.3z" />
                    <path id="XMLID_150_" fill="url(#BgGradient)" d="M48.1,140.6l-12.8-27.2c-2-4.2-0.1-9.4,4.1-11.3l0,0c4.2-2,9.4-0.1,11.3,4.1l12.8,27.2
									c2,4.2,0.1,9.4-4.1,11.3l0,0C55.2,146.7,50.1,144.8,48.1,140.6z" />

                    <circle id="XMLID_151_" style="background: linear-gradient(to right, #fc4a1a, #f7b733);" cx="590.9" cy="23.9" r="9.1" />

                    <circle id="XMLID_152_" style="background: linear-gradient(to right, #fc4a1a, #f7b733);" cx="596.8" cy="76.4" r="14.6" />

                    <circle id="XMLID_153_" fill="url(#BgGradient)" cx="630.8" cy="42.8" r="5.3" />

								</svg>
                </figure>
            </div>
            <!-- right -->
            <div class="col-md-6 mt-4 mt-md-0">
                <h6 class="text-primary">Presentación</h6>
                <h2 class="h1">La Universidad Privada de Tacna...</h2>
                <p class="lead">A través de la Oficina de Bienestar Universitario</p>
                <p> Brindará a sus docentes, estudiantes y graduados, así como al personal administrativo y de servicio,
                programas de bienestar y servicios de salud integral, de promoción cultural y artística, de recreación 
                y deportes, servicio social y orientación psicopedagígica y otros programas de ayuda orientados a la formación 
                integral y el desarrollo humano.</p>
                <p><span class="text-dark font-weight-bold">— Mg. Gina Gotuzzo Ovalle,</span> Jefa de la Oficina de Bienestar Universitario.</p>
                <img class="w-40" src="assets/images/mockups/signature.png" alt="">
            </div>
        </div>
    </div>
    <!-- svg wave top-->
    <figure class="position-absolute top-0 left-0 w-100 d-none d-md-block ie-d-none mt-n3">
        <svg version="1.1" id="wave-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
        <path id="wave-1-path" class="fill-light" d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z" />
					</svg>
    </figure>
    <!-- svg wave bottom-->
    <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block ie-d-none mb-n3">
        <svg version="1.1" id="wave-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
        <path id="wave-2-path_" class="fill-white" d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z" />
    </svg>
    </figure>
</section>

