
@{
    ViewBag.Title = "Talleres";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

    <div>
        <div class="innerpage-banner center bg-overlay-dark-5 py-7" style="background:url('@Url.Content("~/source/imagenes/fotoinicio.jpg")') no-repeat; background-size:cover; background-position: center center;">
            <div class="container">
                <div class="row all-text-white">
                    <div class="col-md-12 align-self-center">
                        <h1 class="innerpage-title">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Talleres Extracurriculares</font>
                            </font>
                        </h1>
                        <h6 class="subtitle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OBUN - Oficina de Bienestar Universitario</font></font></h6>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">
                                    <a href="~/Web/Index">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z" />
                                            <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                        </svg>
                                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Inicio </font></font>
                                    </a>
                                </li>
                                • Talleres Extracurriculares
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <section class="portfolio portfolio-style-2 pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="nav justify-content-center">
                            <ul class="nav-tabs nav-tabs-style-3 text-center px-2 p-md-0 m-0 mb-4">
                                <li class="nav-filter active" data-filter="*"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Todas los talleres</font></font></li>
                                <li class="nav-filter" data-filter=".artistico"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Artísticos</font></font></li>
                                <li class="nav-filter" data-filter=".deportes"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Deportivos</font></font></li>
                                <li class="nav-filter" data-filter=".photo"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Desarrollo Personal</font></font></li>
                            </ul>
                        </div>
                        <div class="portfolio-wrap grid items-3 items-padding" style="position: relative; height: 839.376px;">

                            <!-- portfolio-card -->
                            <div class="portfolio-card isotope-item deportes" style="position: absolute; left: 0px; top: 0px;">
                                <div class="portfolio-card-body">
                                    <div class="portfolio-card-header">
                                        <img src="~/source/imagenes/futbol.png" alt="">
                                    </div>
                                    <div class="portfolio-card-footer">
                                        <a class="full-screen" href="assets/images/portfolio/01.jpg" data-fancybox="portfolio" data-caption="Fly in time"><i class="ti-fullscreen"></i></a>
                                        <h6 class="info-title"><a href="#" title=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Futbol</font></font></a></h6>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Docente: Mario Mendoza</font></font></p>
                                    </div>
                                </div>
                            </div>
                            <!-- portfolio-card -->
                            <div class="portfolio-card isotope-item artistico" style="position: absolute; left: 304px; top: 0px;">
                                <div class="portfolio-card-body">
                                    <div class="portfolio-card-header">
                                        <img src="~/source/imagenes/marinera.png" alt="">
                                    </div>
                                    <div class="portfolio-card-footer">
                                        <a class="full-screen" href="assets/images/portfolio/02.jpg" data-fancybox="portfolio" data-caption="Waiting window"><i class="ti-fullscreen"></i></a>
                                        <h6 class="info-title"><a href="#" title=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Marinera</font></font></a></h6>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Docente: Gladys Dueñas</font></font></p>
                                    </div>
                                </div>
                            </div>
                            <!-- portfolio-card -->
                            <div class="portfolio-card isotope-item digital marketing" style="position: absolute; left: 609px; top: 0px;">
                                <div class="portfolio-card-body">
                                    <div class="portfolio-card-header">
                                        <img src="~/source/imagenes/nosotros.jpg" alt="">
                                    </div>
                                    <div class="portfolio-card-footer">
                                        <a class="full-screen" href="assets/images/portfolio/03.jpg" data-fancybox="portfolio" data-caption="Green Book"><i class="ti-fullscreen"></i></a>
                                        <h6 class="info-title"><a href="#" title=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Libro Verde</font></font></a></h6>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Gráfico</font></font></p>
                                    </div>
                                </div>
                            </div>
                            <!-- portfolio-card -->
                            <div class="portfolio-card isotope-item digital" style="position: absolute; left: 0px; top: 209px;">
                                <div class="portfolio-card-body">
                                    <div class="portfolio-card-header">
                                        <img src="~/source/imagenes/nosotros.jpg" alt="">
                                    </div>
                                    <div class="portfolio-card-footer">
                                        <a class="full-screen" href="assets/images/portfolio/04.jpg" data-fancybox="portfolio" data-caption="Reebok Sneakers"><i class="ti-fullscreen"></i></a>
                                        <h6 class="info-title"><a href="#" title=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Zapatillas Reebok</font></font></a></h6>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Deporte, correr</font></font></p>
                                    </div>
                                </div>
                            </div>
                            <!-- portfolio-card -->
                            <div class="portfolio-card isotope-item photo" style="position: absolute; left: 304px; top: 209px;">
                                <div class="portfolio-card-body">
                                    <div class="portfolio-card-header">
                                        <img src="~/source/imagenes/nosotros.jpg" alt="">
                                    </div>
                                    <div class="portfolio-card-footer">
                                        <a class="full-screen" href="assets/images/portfolio/05.jpg" data-fancybox="portfolio" data-caption="Parking garage"><i class="ti-fullscreen"></i></a>
                                        <h6 class="info-title"><a href="#" title=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Garaje de Estacionamiento</font></font></a></h6>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Coche, edificio</font></font></p>
                                    </div>
                                </div>
                            </div>
                            <!-- portfolio-card -->
                            <div class="portfolio-card isotope-item digital marketing photo" style="position: absolute; left: 609px; top: 209px;">
                                <div class="portfolio-card-body">
                                    <div class="portfolio-card-header">
                                        <img src="~/source/imagenes/nosotros.jpg" alt="">
                                    </div>
                                    <div class="portfolio-card-footer">
                                        <a class="full-screen" href="assets/images/portfolio/06.jpg" data-fancybox="portfolio" data-caption="The Pink Chair"><i class="ti-fullscreen"></i></a>
                                        <h6 class="info-title"><a href="#" title=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">La silla rosa </font></font></a></h6>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Espacio de trabajo</font></font></p>
                                    </div>
                                </div>
                            </div>
                            <!-- portfolio-card -->
                            <div class="portfolio-card isotope-item photo marketing" style="position: absolute; left: 0px; top: 419px;">
                                <div class="portfolio-card-body">
                                    <div class="portfolio-card-header">
                                        <img src="~/source/imagenes/nosotros.jpg" alt="">
                                    </div>
                                    <div class="portfolio-card-footer">
                                        <a class="full-screen" href="assets/images/portfolio/07.jpg" data-fancybox="portfolio" data-caption="Black &amp; white"><i class="ti-fullscreen"></i></a>
                                        <h6 class="info-title"><a href="#" title=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Blanco negro</font></font></a></h6>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fotografía</font></font></p>
                                    </div>
                                </div>
                            </div>
                            <!-- portfolio-card -->
                            <div class="portfolio-card isotope-item digital marketing" style="position: absolute; left: 304px; top: 419px;">
                                <div class="portfolio-card-body">
                                    <div class="portfolio-card-header">
                                        <img src="~/source/imagenes/nosotros.jpg" alt="">
                                    </div>
                                    <div class="portfolio-card-footer">
                                        <a class="full-screen" href="assets/images/portfolio/08.jpg" data-fancybox="portfolio" data-caption="Catch the plane"><i class="ti-fullscreen"></i></a>
                                        <h6 class="info-title"><a href="#" title=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Coger el avión</font></font></a></h6>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Gráfico</font></font></p>
                                    </div>
                                </div>
                            </div>
                            <!-- portfolio-card -->
                            <div class="portfolio-card isotope-item digital marketing" style="position: absolute; left: 609px; top: 419px;">
                                <div class="portfolio-card-body">
                                    <div class="portfolio-card-header">
                                        <img src="~/source/imagenes/nosotros.jpg" alt="">
                                    </div>
                                    <div class="portfolio-card-footer">
                                        <a class="full-screen" href="assets/images/portfolio/09.jpg" data-fancybox="portfolio" data-caption="Nature book"><i class="ti-fullscreen"></i></a>
                                        <h6 class="info-title"><a href="#" title=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Libro de la naturaleza</font></font></a></h6>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Libro</font></font></p>
                                    </div>
                                </div>
                            </div>
                            <!-- portfolio-card -->
                            <div class="portfolio-card isotope-item marketing" style="position: absolute; left: 0px; top: 629px;">
                                <div class="portfolio-card-body">
                                    <div class="portfolio-card-header">
                                        <img src="~/source/imagenes/nosotros.jpg" alt="">
                                    </div>
                                    <div class="portfolio-card-footer">
                                        <a class="full-screen" href="~/source/imagenes/flecha.png" data-fancybox="portfolio" data-caption="Book on desk"><i class="ti-fullscreen"></i></a>
                                        <h6 class="info-title"><a href="#" title=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Reservar en el escritorio</font></font></a></h6>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trabajo de Escritorio</font></font></p>
                                    </div>
                                </div>
                            </div>
                            <!-- portfolio-card -->
                            <div class="portfolio-card isotope-item digital" style="position: absolute; left: 304px; top: 629px;">
                                <div class="portfolio-card-body">
                                    <div class="portfolio-card-header">
                                        <img src="~/source/imagenes/nosotros.jpg" alt="">
                                    </div>
                                    <div class="portfolio-card-footer">
                                        <a class="full-screen" href="assets/images/portfolio/11.jpg" data-fancybox="portfolio" data-caption="Work desk"><i class="ti-fullscreen"></i></a>
                                        <h6 class="info-title"><a href="#" title=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trabajo de Escritorio</font></font></a></h6>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Espacio de trabajo</font></font></p>
                                    </div>
                                </div>
                            </div>
                            <!-- portfolio-card -->
                            <div class="portfolio-card isotope-item photo" style="position: absolute; left: 609px; top: 629px;">
                                <div class="portfolio-card-body">
                                    <div class="portfolio-card-header">
                                        <img src="~/source/imagenes/nosotros.jpg" alt="">
                                    </div>
                                    <div class="portfolio-card-footer">
                                        <a class="full-screen" href="assets/images/portfolio/12.jpg" data-fancybox="portfolio" data-caption="Green Tree"><i class="ti-fullscreen"></i></a>
                                        <h6 class="info-title"><a href="#" title=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Árbol verde</font></font></a></h6>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Naturaleza</font></font></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- portfolio wrap -->
                    </div>
                </div>
            </div>
        </section>

    </div>