
@{
    ViewBag.Title = "VerTaller";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<style>
    .imgRedonda {
        width: 200px;
        height: 200px;
        border-radius: 150px;
    }
</style>
    <div>
        <div class="innerpage-banner center bg-overlay-dark-5 py-7" style="background:url('@Url.Content("~/source/imagenes/fotoinicio.jpg")') no-repeat; background-size:cover; background-position: center center;">
            <div class="container">
                <div class="row all-text-white">
                    <div class="col-md-12 align-self-center">
                        <h1 class="innerpage-title">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Talleres Extracurriculares</font>
                            </font>
                        </h1>
                        <h6 class="subtitle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OBUN - Oficina de Bienestar Universitario</font></font></h6>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">
                                    <a href="~/Web/Index">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z" />
                                            <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                        </svg>
                                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Inicio </font></font>
                                    </a>
                                </li>
                                • Talleres Extracurriculares
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <section>
            <div class="container">
                <div class="row mb-4">
                    <!-- portfolio images -->

                    <div class="col-md-8">
                        <a class="mb-4 d-block" href="assets/images/portfolio/big/02.jpg" data-fancybox="portfolio" data-caption="Kitchen design">
                            <img src="~/source/imagenes/futbol.png" width="1000" alt="">
                        </a>
                    </div>
                    <!-- portfolio details -->
                    <div class="col-md-4">
                        <div class="sticky-element" style="">
                            <h3 class="mb-5 cd-headline clip is-full-width">
                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Taller Deportivo</font></font></span>
                                <span class="cd-words-wrapper" style="width: 66.125px;">
                                    <b class="is-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fútbol</font></font></b>
                                    <b class="is-visible"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fútbol</font></font></b>
                                    <b class="is-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fútbol</font></font></b>
                                </span>
                            </h3>
                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Se basa en un entrenamiento progresivo con el objetivo de prevenir lesiones, y así, lograr un rendimiento óptimo en tu vida y en tu equipo."
                                    </font>
                                </font>
                            </p>

                            <ul class="list-unstyled">
                                <li class="media mt-2">
                                    <div class="d-flex w-40">
                                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Días:</font></font></h6>
                                    </div>
                                    <div class="media-body"> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sábados</font></font></span> </div>
                                </li>
                                <li class="media mt-2">
                                    <div class="d-flex w-40">
                                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hora:</font></font></h6>
                                    </div>
                                    <div class="media-body">
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">08:00pm </font></font></span>
                                    </div>
                                </li>

                                <li class="media mt-2">
                                    <div class="d-flex w-40">
                                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lugar:</font></font></h6>
                                    </div>
                                    <div class="media-body">
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Loza Deportiva FADE</font></font></span>
                                    </div>
                                </li>
                                <li class="media mt-2">
                                    <div class="d-flex w-40">
                                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Estado:</font></font></h6>
                                    </div>
                                    <div class="media-body">
                                        <span class="d-block"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Abierto</font></font></span>
                                    </div>
                                </li>

                                <li class="media mt-2">
                                    <div class="d-flex w-40">
                                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cantidad de Inscritos:</font></font></h6>
                                    </div>
                                    <div class="media-body">
                                        <span class="d-block"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 20</font></font></span>
                                    </div>
                                </li>

                                <li class="media mt-2">
                                    <div class="d-flex w-40">
                                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cantidad Cupos Disponibles:</font></font></h6>
                                    </div>
                                    <div class="media-body">
                                        <span class="d-block"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5</font></font></span>
                                    </div>
                                </li>

                                <li class="media mt-2">
                                    <div class="d-flex w-40">
                                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Precio:</font></font></h6>
                                    </div>
                                    <div class="media-body">
                                        <span class="d-block"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> S/.175</font></font></span>
                                    </div>
                                </li>

                                <li class="media mt-2">
                                    <div class="media-body">
                                        <span class="d-block">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    *Los estudiantes de la Universidad Privada de Tacna, que su código comience con 2018--- en adelante no pagarán el monto del taller.
                                                    Este ya viene incluido en su pensión.
                                                </font>
                                            </font>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                            <a class="btn btn-grad mt-4" href="#!">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <strong>Inscribirse </strong> </font></font>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- portfolio details End -->
                </div>
                <div class="col-md-12">
                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Mapa del Lugar donde se realizará el Taller</font>
                        </font>
                    </h5>
                    <div class="contact-map overflow-hidden">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1897.2054437446375!2d-70.2257155!3d-18.0061251!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1596208098890!5m2!1ses-419!2spe" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>
                <h5 class="mb-2 mt-5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Docente del Taller </font></font></h5>
                <div class="divider divider-grad"></div>
                <div class="row mt-4">
                    <!-- portfolio information -->
                    <div class="col-md-3">
                        <img class='imgRedonda' src="~/source/imagenes/EmilioAlcazar.png"
                             data-holder-rendered="true">
                    </div>
                    <!-- portfolio testimonial -->
                    <div class="col-md-9" style="padding-left:30px">

                        <h4 class="mb-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Descripción del Docente</font></font></h4>
                        <blockquote class="blockquote" cite="#">
                            <h5 class="mb-2 text-light-gray">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Profesor Universitario en la UPT.
                                    </font>
                                    <font style="vertical-align: inherit;">Ex-Futbolista Profesional de 1ª y 2ª División</font>
                                </font>
                            </h5>
                            <cite><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">- Emilio Alcazar</font></font></cite>
                        </blockquote>
                    </div>

                </div>
                <br /><br />
            </div>
            <!-- portfolio End -->
        </section>

</div>

